@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Підключення стиілв -->
    <link rel='stylesheet' type='text/css' media='screen' href='Content/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='Content/Site.css'>
</head>

<body>   
    <!-- Контент головного меню -->
    <!-- portfolio -->
    <div class="container-fluid">
        <div class="row center-block">
            <a href="#">
                <div class="col-sm-6 parent-block">
                    <div class="menu-left-top scale-menu">
                        <div class="text-centered-inside-block">
                            <h1>Photo</h1>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-sm-6 parent-block">
                    <div class="menu-right-top scale-menu">
                        <div class="text-centered-inside-block">
                            <h1>Video</h1>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-sm-6 parent-block">
                    <div class="menu-left-bottom scale-menu">
                        <div class="text-centered-inside-block">
                            <h1>Music</h1>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-sm-6 parent-block">
                    <div class="menu-right-bottom scale-menu">
                        <div class="text-centered-inside-block">
                            <h1>Text</h1>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>

    <!-- Підключення скрпитів -->
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    
</body>

</html>